@inject Microsoft.Extensions.Localization.IStringLocalizer<Patients> _localizer

<EditForm Model="@AddEditPatientModel" OnValidSubmit="SaveAsync">
    <FluentValidationValidator @ref="_fluentValidationValidator" />
    <MudDialog>
        <TitleContent>
            @{
                if (AddEditPatientModel.Id == 0)
                {
                    <MudText Typo="Typo.h6">
                        <MudIcon Icon="@Icons.Material.Filled.Add" Class="mr-3 mb-n1" />
                        @_localizer["Add Product"]
                    </MudText>
                }
                else
                {
                    <MudText Typo="Typo.h6">
                        <MudIcon Icon="@Icons.Material.Filled.Update" Class="mr-3 mb-n1" />
                        @_localizer["Update Product"]
                    </MudText>
                }
            }
        </TitleContent>
        <DialogContent>
            <MudGrid>
                @if (AddEditPatientModel.Id != 0)
                {
                    <MudItem xs="12" md="6">
                        <MudTextField Disabled For="@(() => AddEditPatientModel.Id)" @bind-Value="AddEditPatientModel.Id" Label="@_localizer["Id"]" />
                    </MudItem>
                }
                <MudItem xs="12" md="6">
                    <MudTextField For="@(() => AddEditPatientModel.MRN)" @bind-Value="AddEditPatientModel.MRN" Label="@_localizer["MRN"]" />
                </MudItem>
                <MudItem xs="12" md="6">
                    <MudTextField For="@(() => AddEditPatientModel.FirstName)" @bind-Value="AddEditPatientModel.FirstName" Label="@_localizer["FirstName"]" />
                </MudItem>
                <MudItem xs="12" md="6">
                    <MudAutocomplete  Label="@_localizer["LastName"]" For="@(() => AddEditPatientModel.LastName)" @bind-Value="AddEditPatientModel.LastName" />
                </MudItem>
                <MudItem xs="12" md="6">
                    <MudTextField For="@(() => AddEditPatientModel.Gender)" @bind-Value="AddEditPatientModel.Gender" Label="@_localizer["Rate"]" />
                </MudItem>
                @if (AddEditPatientModel.Id == 0)
                {
                    <MudItem xs="12" md="6">
                        <MudTextField For="@(() => AddEditPatientModel.DOB)" @bind-Value="AddEditPatientModel.DOB" Label="@_localizer["Barcode"]" />
                    </MudItem>
                }
                else
                {
                    <MudItem xs="12" md="6">
                        <MudTextField Disabled For="@(() => AddEditPatientModel.DOB)" @bind-Value="AddEditPatientModel.DOB" Label="@_localizer["Barcode"]" />
                    </MudItem>
                }
                @*<MudItem xs="12" md="6">
                    <MudItem>
                        <MudAvatar Image="@(AddEditProductModel.ImageDataURL)" Square="true" Style="height: auto; width: auto; max-height: 100%"> </MudAvatar>
                    </MudItem>
                    <MudItem>
                        <InputFile id="fileInput" hidden OnChange="UploadFiles" />
                        <div>
                            <MudButton HtmlTag="label"
                                       Variant="Variant.Text"
                                       Color="Color.Primary"
                                       Size="Size.Small"
                                       StartIcon="@Icons.Filled.CloudUpload"
                                       for="fileInput">
                                @_localizer["Upload"]
                            </MudButton>
                            @if (!string.IsNullOrEmpty(AddEditProductModel.ImageDataURL))
                            {
                                <MudButton Variant="Variant.Text"
                                           Color="Color.Info"
                                           StartIcon="@Icons.Filled.RemoveRedEye"
                                           Size="Size.Small"
                                           Link="@(AddEditProductModel.ImageDataURL)" Target="_blank">
                                    @_localizer["View"]
                                </MudButton>
                                <MudButton Variant="Variant.Text"
                                           Color="Color.Error"
                                           StartIcon="@Icons.Filled.Delete"
                                           Size="Size.Small"
                                           OnClick="DeleteAsync">
                                    @_localizer["Delete"]
                                </MudButton>
                            }
                        </div>
                    </MudItem>
                </MudItem>*@
            </MudGrid>
        </DialogContent>
        <DialogActions>
            <MudButton DisableElevation Variant="Variant.Filled" OnClick="Cancel">@_localizer["Cancel"]</MudButton>
            @if (AddEditPatientModel.Id != 0)
            {
                <MudButton DisableElevation Variant="Variant.Filled" ButtonType="ButtonType.Submit" Disabled="@(!Validated)" Color="Color.Secondary">@_localizer["Update"]</MudButton>
            }
            else
            {
                <MudButton DisableElevation Variant="Variant.Filled" ButtonType="ButtonType.Submit" Disabled="@(!Validated)" Color="Color.Success">@_localizer["Save"]</MudButton>
            }
        </DialogActions>
    </MudDialog>
</EditForm>